.day {
    display: flex;
    justify-content: center;
}
.temp-of-day {
    display: flex;
    justify-content: center;
}
@media (max-width: 500px){
    .condition-img img{ 
        display: block; 
        margin: 0 auto;
    }
}
@media (min-width:501px) and (max-width:650px){
    .condition-img img{ 
        display: block; 
        margin: 0 auto;
    }
}